* {
    margin: 2px;
}

body {
    border: 5px solid black;
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: blue;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-main {
display: flex;
flex: 1;
}

.flex-nav {
    background-color: #B95F21;
    padding-top: 3rem;
    flex: 1 1 5rem;
   
}

.flex-article {
    background-color: #81A43C;
    padding-top: 3rem;
    flex: 3 3 ;
 
}

.flex-aside {
    background-color: #B95F21;
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.flex-footer {
    background-color: blue;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media all and (max-width: 600px) {
    .flex-main {
        flex-direction: column;
    }
}