body {
    height: 600px;
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: black

}
.button {
    background-color: black;
    color: white;
}

@keyframes button {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: blue;}
    100% {background-color: green;}
}
.button:hover {
    background-color: pink;
    color: black;
    padding: 1rem;
    border: 5px solid brown;
    font-size: 1rem;
    border-radius: 2rem;
    animation: button 5s ease-out 2s 2 normal;
}

/* shorthand property: div {
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */